* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg,#1d334b 9%,#00d4ff);
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
} 




